* {
  font-family: "Press Start 2P", cursive;
  /* font-family: 'PT Mono', monospace; */
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  color: rgb(147, 6, 6);
}

h2 {
  font-size: 36px;
}
